#ProductFirstView{
    width: 100vw;
    height: 90vh;
    background-image: linear-gradient(rgb(195, 195, 195), white);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "TopLeft TopRight" 
    "BottomLeft BottomRight";
    &NameAndInfo{
        grid-area: TopRight;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 100%;
        align-self: flex-end;
    }
    h3{
        align-self: flex-end;
        width: 100%;
        text-align: center;
        }
    h1{
        align-self: flex-end;
        width: 100%;
        text-align: center;
    }
    p{
        grid-area: TopLeft ;
        width: 100%;
        align-self: flex-end;
        text-align: center;
    }
    .Back{
        height: 250%;
        grid-area: BottomLeft;
        align-self: flex-end;
        margin-bottom: -10vh;
        filter: opacity(.2) grayscale(1);
    }
    .Front{
        height: 160%;
        grid-area: BottomLeft;
        margin-left: 3vw;
        align-self: flex-end;
        z-index: 5;
        margin-bottom: 5vh;
        filter: drop-shadow(0px 0px 10px grey);
    }
    &Div{
        grid-area: BottomRight;
        align-self: flex-start;
        width: 100%;
        justify-self: flex-end;
        height: 100%;
        display: flex;
        flex-direction: column;
        button{
            width: 50%;
            margin-top: 2vh;
            margin-bottom: 2vh;
            border-radius: 15px;
            background-image: linear-gradient(rgb(164, 164, 164), rgb(189, 189, 189));
            border: none;
            padding: 2%;
            box-shadow: 0px 0px 5px rgb(70, 70, 70);
            display: flex;
            justify-content: flex-start;
            align-self: center;
            align-items: center;
        }

        div{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            height: 70%;
            overflow-y: scroll;
            button{
                height: 20vh;
                background-color: transparent;
                border: none;
            }
            img{
                height: 100%;
                margin-left: 0px;
            }
        }
    }

}