$background-color-page: #262626;
$background-menu-pc: #353535;
$light-color: #6e6e6e;
$extra-light-color: #eaeaea;
$red-dark-color: #880101;
$extra-dark-color: #1d1d1d;
$font-family-1: "Oswald", sans-serif;
