@import './Menu/Menu';
@import './constants/Constants';

body{
    overflow-x: hidden;
    background-color: #4f4545;
}
#root{
    position: relative;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    justify-content: start;
}
#roote{
    background-color: $background-color-page;
        position: absolute;
        width: 80vw;
    z-index: 2;
}


@media screen and (orientation: portrait) {
    #roote{
    width: 100vw;
}
}
@media screen and (orientation: landscape) {
#roote{
    right: 0;
}
}


.openmenu{
    margin-left: 80vw;
    animation: apareceMenu 1s ;
}
.closedmenu{
    margin-left: 0vw;
    animation: desapareceMenu 1s ;
}
@keyframes apareceMenu {
    0%{
        margin-left: 0vw;
    }
    100%{
        margin-left: 80vw;
    }
    
}
@keyframes desapareceMenu {
    0%{
        margin-left: 80vw;
    }
    100%{
        margin-left: 0vw;
    }
    
}