@import './Index.scss/IndexWallpaper.scss';
@import './Index.scss/CategoriesIndex.scss';
@import './Index.scss/EspecialesIndex.scss';
@import './Index.scss/IndexHotProducts.scss';

#Index{
    width: 100%;
    height: 100%;
}

@media screen and (orientation: landscape) {
    #Index{
        width: 100vw;
    }
}
@media screen and (orientation: portrait) {
    #Index{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}