
@import './Navbar/NavbarLogo';
@import './Navbar/NavbarButtons';

#NavbarMobile{
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    padding-inline: 3vw;
    height: 10vh;
    top: 0;
    z-index: 100;
    &Logo{
        height: 100%;
    }
    div{
        height: 100%;
        width: 25%;
        justify-content: space-between;
        display: flex;
        align-items: center;
    }
    &CartButton{
        border: none;
        background: none;
        &I{
            color: rgb(255, 255, 255);
            text-shadow: 0px 0px 3px rgb(0, 0, 0);
        }
    }

    &MenuButton{
        border: none;
        background: none;
        &I{
            color: rgb(255, 255, 255);
            text-shadow: 0px 0px 3px rgb(0, 0, 0);
        }
    }
}
