
@import './Navbar/NavbarLogo';
@import './Navbar/NavbarButtons';

.Navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    padding-inline: 3vw;
    height: 10vh;
    top: 0;
    z-index: 9;
}


