
@import './Navbar/NavbarLogo';
@import './Navbar/NavbarButtons';

#NavbarMobile{
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    padding-inline: 3vw;
    height: 10vh;
    top: 0;
    z-index: 100;
    &Logo{
        height: 100%;
    }
    div{
        height: 100%;
        width: 25%;
        justify-content: space-between;
        display: flex;
        align-items: center;
    }
    &CartButton{
        border: none;
        background: none;
        &I{
            color: rgb(255, 255, 255);
            text-shadow: 0px 0px 3px rgb(0, 0, 0);
        }
    }

    &MenuButton{
        border: none;
        background: none;
        &I{
            color: rgb(255, 255, 255);
            text-shadow: 0px 0px 3px rgb(0, 0, 0);
        }
    }
}
#NavbarPC{
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding-inline: 3vw;
    height: 15vh;
    top: 0;
    z-index: 100;
    background-image: linear-gradient(black,transparent);
    &Logo{
        height: 80%;
    }
    
    &Opciones{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 40%;
        justify-content: space-between;
        display: flex;
        align-items: center;
        button{
            background: none;
            border: none;
            color: white;
        }
    }
    &#CartButton{
        height: 100%;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
#ClasesPCMenu{
    @keyframes ApareceClasesPCMenu {
        0%{
            height: 0px;
            opacity: 0;
        }
        100%{
            height: 15vh;
            opacity: 1;
        }
    }
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding-inline: 3vw;
    height: 15vh;
    top: 10vh;
    z-index: 100;
    animation: ApareceClasesPCMenu 1s;
    .Opciooon{
        background: none;
        text-shadow: 0px 0px 10px black;
        margin-inline: 1vw;
        border: none;
        color: white;
    }
}