@import 'Product/ProductImage.scss';
@import 'Product/ProductCaract.scss';
@import 'Product/PhoneButtonsProduct.scss';
@import 'Product/ProductFirstView.scss';
// @import 'Product/ProductBenefits.scss';
// @import 'Product/ProductOptions.scss';
@import 'Product/ModalSelected.scss';

#Product{

    &1{
        @keyframes ApearProductScreen {
            0%{
                left: 100vw;
            }
            100%{
                left: 0;
            }
        }
        animation: ApearProductScreen 1s;
        width: 100vw;
        height: 100vh;
        z-index: 3;
        overflow-x: hidden;  
        background-color: rgb(236, 236, 236);
        position: absolute;
        top: 0;
        left: 0;
    }
    &Closed{
        @keyframes DisapearProductScreen {
            0%{
                left: 0vw;
                width: 100vw;
                height: 100vh;
            }
            100%{
                left: 100vw;
                width: 100vw;
                height: 100vh;
            }
        }
        animation: DisapearProductScreen 1s;
        width: 0vw;
        height: 0vh;
        z-index: 3;
        overflow-x: hidden;  
        background-color: rgb(236, 236, 236);
        position: absolute;
        top: 0;
        left: 0;
    }
}

#ProductScreen{
    width: 100vw;
    height: 100vh;
    z-index: 3;
    overflow-x: hidden;
    overflow-y: hidden;  
    background-color: rgb(236, 236, 236);
    position: absolute;
    top: 0;
    left: 0;
    &Price{
        position: absolute;
        z-index: 4;
        bottom: 17vh;
        left: 5vw;
        color: rgb(236, 236, 236);
        font-weight: 700;
        text-shadow: 0px 0px 10px black;
    }
    &Gradient{
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 4;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        background-image: linear-gradient(transparent, transparent,transparent, transparent, rgb(68, 68, 68, .8),rgb(68, 68, 68));
        &Next{
            @keyframes DisapearGradient {
                0%{
                    bottom: 0;
                }
                100%{
                    bottom: 100vh;
                }
            }
            animation: DisapearGradient 1s;
            position: absolute;
            bottom: 100vh;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 4;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            background-image: linear-gradient(transparent, transparent,transparent, rgb(68, 68, 68));
        
        }
    }
    &ViewMore{
        width: 75vw;
        height: 7vh;
        background: none;
        color: black;
        border: none;
    }
    &AddToCart{
        width: 75vw;
        height: 7vh;
        align-self: center;
        background-color: rgb(25, 25, 25);
        color: white;
        // background-color: rgb(236, 236, 236);
        // color: rgb(25,25,25);
        // border: solid 2px rgb(25,25,25);
        box-shadow: 0px 0px 2px black;
        border-radius: 10vw;
        margin-bottom: 3vh;
    }
    &Model{
        position: absolute;
        top: 5vh;
        left: 0;
        width: 100vw;
        font-weight: 800;
        color: rgb(236, 236, 236);
        text-shadow: 0px 0px 10px rgb(181, 181, 181);
        z-index: 1;
    }
    &Brand{
        transform: rotate(-90deg);
        position: absolute;
        bottom: 40vh;
        font-weight: 800;
        right: -45vw;
        margin: 0px;
        padding: 0;
        &2{
            transform: rotate(-90deg);
            position: absolute;
            bottom: 40vh;
            font-weight: 800;
            right: -45vw;
            margin: 0px;
            padding: 0;
            z-index: 4;
            color: transparent;
                        -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: white;
        }
    }
    &IMG{
        &Moto{
            width: 200vw;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;
        }
        &Otros{
            height: 100vh;
            position: absolute;
            top: 0;
            z-index: 2;
        }
    }
    &Closed{
        @keyframes DisapearProductScreen {
            0%{
                width: 100vw;
                height: 100vh;
                top: 0;
                left: 0;
            }
            100%{
                width: 100vw;
                height: 100vh;
                top: 0;
                left: 100vw;
            }
        }
        animation: DisapearProductScreen 1s;
        &Gradient{
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 4;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            background-image: linear-gradient(transparent, transparent,transparent, transparent, rgb(68, 68, 68, .8),rgb(68, 68, 68));
            &Next{
                @keyframes DisapearGradient {
                    0%{
                        bottom: 0;
                    }
                    100%{
                        bottom: 100vh;
                    }
                }
                animation: DisapearGradient 1s;
                position: absolute;
                bottom: 100vh;
                left: 0;
                width: 100vw;
                height: 100vh;
                z-index: 4;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                background-image: linear-gradient(transparent, transparent,transparent, rgb(68, 68, 68));
            
            }
        }
        &ViewMore{
            width: 75vw;
            height: 7vh;
            background: none;
            color: black;
            border: none;
        }
        &AddToCart{
            width: 75vw;
            height: 7vh;
            align-self: center;
            background-color: rgb(25, 25, 25);
            color: white;
            // background-color: rgb(236, 236, 236);
            // color: rgb(25,25,25);
            // border: solid 2px rgb(25,25,25);
            box-shadow: 0px 0px 2px black;
            border-radius: 10vw;
            margin-bottom: 3vh;
        }
        &Model{
            position: absolute;
            top: 5vh;
            left: 0;
            width: 100vw;
            font-weight: 800;
            color: rgb(236, 236, 236);
            text-shadow: 0px 0px 10px rgb(181, 181, 181);
            z-index: 1;
        }
        &Brand{
            transform: rotate(-90deg);
            position: absolute;
            bottom: 40vh;
            font-weight: 800;
            right: -45vw;
            margin: 0px;
            padding: 0;
            &2{
                transform: rotate(-90deg);
                position: absolute;
                bottom: 40vh;
                font-weight: 800;
                right: -45vw;
                margin: 0px;
                padding: 0;
                z-index: 4;
                color: transparent;
                            -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: white;
            }
        }
        &IMG{
            &Moto{
                width: 200vw;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 2;
            }
        }   
    }
}
#ProductOptions{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    &Row{
        height: 32vh;
        display: flex;
        overflow-x: scroll;
        width: 100vw;
    }
    h3{
        width: 90%;
        margin-top: 3vh;
        text-align: start;
        color: white;
    }
    .ProductOption{
        height: 25vh;
        width: 25vh;
        margin-left: 5vw;
        border-radius: 5vw;
        box-shadow: 5px 0px 10px black;
        margin-block: 5px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        background-image: linear-gradient(rgb(236, 236, 236), rgb(118, 118, 118));
        img{
            height: 25vh;
            width: 25vh;
        }
            p{
                color: white;
                width: 25vh;
                text-shadow: 1px 0px 3px black;
                margin-left: 2vw;
                text-align: center;
            }
        }
}
#ProductBenefits{
    @keyframes ApearOptions {
        0%{
            top: 100vh;
        }
        100%{
            top: 0;
        }
    }
    animation: ApearOptions 1s;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    &Row{
        height: 32vh;
        display: flex;
        overflow-x: scroll;
        width: 100vw;
    }
    h3{
        width: 90%;
        margin-top: 3vh;
        text-align: start;
        color: white;
    }
    .ProductBenefit{
        height: 25vh;
        width: 25vh;
        margin-left: 5vw;
        border-radius: 5vw;
        box-shadow: 5px 0px 10px black;
        margin-block: 5px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        background-size: cover;
            p{
                color: white;
                width: 25vh;
                text-shadow: 1px 0px 3px black;
                margin-left: 2vw;
                text-align: center;
            }
        }
}
#ProductViewMore{
    @keyframes ApearViewMore {
        0%{
            bottom: -100vh;
        }
        100%{
            bottom: 0;
        }
    }
    position: absolute;
    bottom: 0;
    left: 0;
    height: 25vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    background-color: rgb(170, 170, 170);
    z-index: 5;
    animation: ApearViewMore 1s;
    border-top-left-radius: 5vw;
    border-top-right-radius: 5vw;
    box-shadow: 0px 0px 10px black;
    font-family: 'Roboto';
    font-weight: bolder;
    font-style: italic;
    padding-left: 3vw;
    letter-spacing: -0.2em;
}
#BackProductBenefitModal{
    @keyframes ApearBack {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    animation: ApearBack .5s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: rgba(136, 136, 136, 0.7);
    z-index: 8;
}
#ProductBenefitModal{
    @keyframes ApearBenefitModal {
        0%{
            top: -50vh;
        }
        100%{
            top: 20vh;

        }
    }
    animation: ApearBenefitModal .5s;
    position: absolute;
    top: 20vh;
    left: 6vw;
    width: 88vw;
    height: 47vh;
    display: flex;
    flex-direction: column;
    z-index: 9;
    box-shadow: 0px 0px 10px black;
    border-radius: 5vw;
    background-color: rgb(68, 68, 68);
    overflow: hidden;
    #ImageAndExit{
        width: 88vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    #ExitButton{
        height: 5vh;
        width: 5vh;
        align-self: flex-end;
        z-index: 10;
        background: none;
        border: none;
    }
    #BenefitTitle{
        width: 100%;
        text-align: center;
        color: white;
    }
    #BenefitDescription{
        width: 100%;
        text-align: center;
        color: white;
    }
    img{
        margin-top: -5vh;
        width: 88vw;
    }
}

#PCProductScreen{
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    #PCProductFirstView{
        width: 100vw;
        height: 80vh;
        overflow: hidden;
        padding-inline: 3vw;
        background-color: #181818;
        display: grid;
        grid-template-rows: 15vh 52vh 25vh;
        grid-template-columns: 14vw 60vw 14vw;
        grid-template-areas: 
        "nada nada nada"
        "FVPCTexto Foto Benefits"
        "abajo abajo abajo";
        #PCProductFirstViewText{
            grid-area: FVPCTexto;
            width: 35vw;
            height: 90%;
            align-self: flex-end;
            color: rgb(187, 187, 187);
            z-index: 6;
            #PCProductTextTitle{
                margin-bottom: -1vh;
                font-weight: 600;
            }
        }
        #PCProductBackTitle{
            position: absolute;
            top: 0vh;
            left: 0;
            width: 100vw;
            text-align: center;
            color: #c9c9c9;
            opacity: .08;
            font-weight: 700;
            height: 80vh;
            overflow: hidden;
        }
        #PCProductImage{
            grid-area: Foto;
            width: 60%;
            justify-self: center;
            z-index: 5;
            filter: brightness(.8);
            align-self: flex-start;
        }
        #PCProductFirstViewCaract{
            grid-area: Benefits;
            align-self: center;
            color: #c9c9c9;
            text-align: center;
            .CaractDesc{
                font-weight: 700;
            }
        }
    }
    .carousel {
        display: flex;
        align-items: center;
        background-image: linear-gradient(#181818, #3f4040);
        justify-content: center;
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: visible;
        .carousel-button {
            background-color: #fff;
            border: 1px solid #ccc;
            padding: 10px;
            cursor: pointer;
            z-index: 10;
          }
          
          .carousel-slides {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            position: relative;
          }
          
          .carousel-slide {
            position: absolute;
            transition: opacity 0.5s, transform 0.5s;
            width: 37vw;
            height: 50vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                width: 100%;
                box-shadow: 0px 0px 15px black;
            }
            p{
                color: rgb(209, 209, 209);
            }
            .BenefitTitle{
                margin-bottom: -1%;
            }
          }
          
          .carousel-slide-hidden {
            opacity: 0;
            transform: scale(0);
            visibility: hidden;
          }
          
          .carousel-slide-active {
            opacity: 1;
            transform: translateX(0) scale(1);
            z-index: 2;
          }
          
          .carousel-slide-prev {
            opacity: 0.5;
            transform: translateX(-100%) scale(0.75);
            z-index: 1;
          }
          
          .carousel-slide-next {
            opacity: 0.5;
            transform: translateX(100%) scale(0.75);
            z-index: 1;
          }
      }
    #PCColors{
        background-image: linear-gradient(#3f4040, #181818, #181818);
        #ColorsTitleBack{
            color: rgb(224, 224, 224, 0.3);
            margin-bottom: -40vh;
        }
        #ColoresOptions{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            img{
                background-image: radial-gradient(rgb(170, 170, 170, 0.5), transparent, transparent, transparent);
                width: 40vw;
                filter: brightness(.8);
            }
        }
    }


}