@import 'Product/ProductImage.scss';
@import 'Product/ProductCaract.scss';
@import 'Product/PhoneButtonsProduct.scss';
@import 'Product/ProductFirstView.scss';
@import 'Product/ProductBenefits.scss';
@import 'Product/ProductOptions.scss';
@import 'Product/ModalSelected.scss';

#ProductScreen{
    width: 100vw;
    overflow-x: hidden;  
    background-color: white;  
}
