#WallpaperIndex{
    text-decoration: none;
    width: 90%;
    height: 50vh;
    border-radius: 5vw;
    background-image: url(https://iili.io/HtJBMCl.png);
    background-size: cover;
    box-shadow: 0px 0px 10px black;
    margin-top: 3vh;
    div{
        width: 50%;
        height: 100%;
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p{
            color: white;
            text-shadow: 0px 0px 5px black;
            font-size: 1.1rem;
        }
        .titulo{
            font-weight: 600;
        }
    }
}
@media screen and (orientation: landscape) {
    #WallpaperIndex{
        grid-area: Wallpaper;
        height: 90%;
        justify-self: center;
        align-self: center;
        &:hover{
            transform: scale(1.02);
            transition: all 0.5s;
        }
    }
}
