.IndexCategories{
    width: 100vw;
    display: flex;
}

.CategoryItem{
    background-size: cover;
    margin: 2% 1vw;
    overflow: hidden;
    padding: 0;
    transition: transform 0.3s ease;
    border-radius: 5%;
    border-width: 0px;
    box-shadow: 0px 0px 10px black;
    &:hover{
        transform: scale(1.03);
        animation-name: onHover;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
    }
    &:not(ho)
    a{
        height: 100%;
        width: 100%;
        display: flex;
        align-content: end;
        color: white;
        text-decoration: none;
    }
}
.CategoryTitleDiv{
    background-image: (linear-gradient(rgb(255, 255, 255, 0),rgb(0, 0, 0)));
    align-self: flex-end;
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        font-weight: 600;
        color: white;
    }
}
@keyframes onHover {
    0%{
        margin-right: 1vw;
        border-width: 0;
    }
    100%{
        border-color: red;
        border-width: 1px;
        
    }
}

@media screen and (orientation: landscape) {
    .CategoryItem{
        width: 22vw;
        display: flex;
        height: 28vw;
    }    
}

@media screen and (orientation: portrait) {
.IndexCategories{
    overflow-x: scroll;
}
    .CategoryItem{
        width: 40vw;
        height: 60vw;
        display: flex;
        border-color: red;
        border-width: 1px;
    }    
}