.Product{
    width: 40vw;
    height: 30vh;
    display: inline-block;
    border-radius: 10px;
    margin: 12px;
    box-shadow: 0px 5px 10px black;
    background-color: rgb(254, 254, 254, 0.8);
}
.Product-Card{
    height: 100%;
    float: left;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;

    a{
        height: 100%;
        width: 100%;
        display: flex;
        margin-bottom: -20%;
        justify-content: end;
    }
    .titulo-Card{
        height: 10%;
        font-size: 1.5rem;
        font-weight: 600;
        width: 100%;
        text-align: center;
        color: rgb(254, 254, 254);
        text-shadow: 0px 0px 6px black;
        margin-top: -15%;
    }
    .titulo-Price{
        height: 10%;
        font-size: .8rem;
        font-weight: 600;
        width: 100%;
        text-align: center;
        color: white;
        text-shadow: 1px 1px 3px black;
        margin-top: -5%;
    }
}
@media screen and (orientation: landscape) {
.Product{
    width: 20vw;
}
}